.static {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: 273px;
  height: 281px;
  background: #262626;
}
.stat_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat_span {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
  width: 293px;
  margin-bottom: 20px;
}
.stat_chart {
  width: 168px;
  height: 168px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 20px 0;
}

.chart_d {
  position: absolute;
  top: 30%;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

.stat_p {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}
.stat_total {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
}
.green {
  width: 14px;
  height: 14px;
  background: #30b94d;
  border-radius: 4px;
}
.stat_d {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
