.lib {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.filters {
  border-radius: 30px;
  width: 353px;
  height: 651px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1f1f1f;
}

.lib_right {
  display: flex;
  flex-direction: column;
  width: 847px;
  height: 651px;
  background-color: #1f1f1f;
  border-radius: 30px;
}

.fil {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-top: 25px;
  margin-left: 14px;
}

.form_input {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  padding-left: 90px;
  padding-right: 53px;
  background: #262626;
  font-size: 14px;
  color: #f9f9f9;
  border: none;
  outline: none;
}

.form_input:focus {
  background: #262626;
}
.form_input_ {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  padding-left: 100px;
  padding-right: 43px;
  background: #262626;
  font-size: 14px;
  color: #f9f9f9;
  border: none;
  outline: none;
}

.form_input__ {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  padding-left: 140px;
  background: #262626;
  font-size: 14px;
  color: #f9f9f9;
  border: none;
  outline: none;
}

.form_input_:focus {
  background: #262626;
}

.form_input__:focus {
  background: #262626;
}

.input_label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #686868;
  font-size: 14px;
  pointer-events: none;
}

.input_group {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lib_form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  background-color: #1f1f1f;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  width: 122px;
  height: 42px;
  transition: background-color 0.4s ease;
  cursor: pointer;
  margin-top: 12px;
}

.form_button:hover {
  background-color: #f9f9f9;
  color: #1f1f1f;
}

.title_lib {
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #e3e3e3;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 71px;
}

.author_lib {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #686868;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img_div_lib {
  border-radius: 8px;
  width: 71px;
  height: 107px;
}

.rec_card_lib {
  display: flex;
  flex-direction: column;
  width: 71px;
  flex-wrap: nowrap;
}

.libbbb {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.lib_head_Re {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #e3e3e3;
  text-align: start;
  margin-right: 35px;
}

.lib_navigate_div {
  display: flex;
  gap: 189px;
  margin-top: 20px;
  cursor: pointer;
}

.rec_bookss {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  margin-top: 58px;
  width: 313px;
  height: 259px;
  background: #262626;
}

.mylib_button {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
  background-color: #262626;
  border: none;
  cursor: pointer;
}

.lib_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}

.img_div {
  width: 137px;
  height: 208px;
  border-radius: 8px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #686868;
}

.rec_card {
  display: flex;
  flex-direction: column;
  width: 137px;
  cursor: pointer;
  flex-wrap: wrap;
}

.card {
  display: flex;
  padding: 40px;
  justify-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.rec_tit {
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
}

.mylib_del {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rub_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: rgba(232, 80, 80, 0.1);
  border: 1px solid rgba(232, 80, 80, 0.2);
}

.span_div {
  display: flex;
  flex-direction: column;
  width: 89px;
  margin-top: 8px;
  gap: 2px;
}
.like_div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.like_modal {
  display: flex;
  flex-direction: row-reverse;
}

.b {
  width: 68px;
  height: 70px;
}

.like_span {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
}

.like_spann {
  color: #f9f9f9;
}

.like_p {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
}

.m_close_like {
  cursor: pointer;
  background: #1f1f1f;
  color: #f9f9f9;
  border: none;
  font-size: 22px;
  transform: border 0.4s ease;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-top: 16px;
  margin-right: 16px;
}

.m_close_like:hover {
  border: 1px solid rgba(249, 249, 249, 0.2);
}
.like_ {
  width: 242px;
}

.form_input::placeholder {
  color: #f9f9f9;
}

.form_input_::placeholder {
  color: #f9f9f9;
}
.form_input__::placeholder {
  color: #f9f9f9;
}

.lib_books_span {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
}

.lib_books_spann {
  color: #686868;
}

.book_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 247px;
  margin-top: 129px;
  width: 274px;
}
.book_img {
  width: 130px;
  height: 130px;
}

select {
  border: 1px solid #3e3e3e;
  border-radius: 12px;
  padding: 14px;
  width: 153px;
  height: 46px;
  color: #f9f9f9;
  background-color: #1f1f1f;
}
option {
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
}

option:focus {
  color: #f9f9f9;
}

.img_div_m {
  width: 153px;
  height: 233px;
  margin-bottom: 16px;
}

.m_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
  margin-top: 6px;
}
.m_author {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
}

.m_totalPages {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  text-align: center;
}

.m_close_div {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 16px;
  padding-top: 16px;
}

.m_close {
  cursor: pointer;
  background: #1f1f1f;
  color: #f9f9f9;
  border: none;
  font-size: 22px;
  transform: border 0.4s ease;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.m_close:hover {
  border: 1px solid rgba(249, 249, 249, 0.2);
}
.des_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin-bottom: 32px;
}
.lib_nav {
  width: 162px;
  height: 46px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  background-color: #1f1f1f;
  transition: background-color 0.4s ease;
  cursor: pointer;
}
.lib_nav:hover {
  background-color: #f9f9f9;
  color: #1f1f1f;
}

.rec_divv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
