.lib {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.filters {
  border-radius: 30px;
  width: 353px;
  height: 651px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1f1f1f;
}

.lib_right {
  width: 847px;
  height: 651px;
  background-color: #1f1f1f;
  border-radius: 30px;
}

.fil {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-top: 25px;
  margin-left: 14px;
}

.form_input {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  padding-left: 90px;
  padding-right: 53px;
  background: #262626;
  font-size: 14px;
  color: #f9f9f9;
  border: none;
  outline: none;
}

.form_input:focus {
  background: #262626;
}
.form_input_ {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  padding-left: 100px;
  padding-right: 43px;
  background: #262626;
  font-size: 14px;
  color: #f9f9f9;
  border: none;
  outline: none;
}

.form_input__ {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  padding-left: 140px;
  background: #262626;
  font-size: 14px;
  color: #f9f9f9;
  border: none;
  outline: none;
}

.form_input_:focus {
  background: #262626;
}

.form_input__:focus {
  background: #262626;
}

.input_label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #686868;
  font-size: 14px;
  pointer-events: none;
}

.input_group {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lib_form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  background-color: #1f1f1f;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  width: 122px;
  height: 42px;
  transition: background-color 0.4s ease;
  cursor: pointer;
  margin-top: 12px;
}

.form_button:hover {
  background-color: #f9f9f9;
  color: #1f1f1f;
}
