.img_div {
  width: 137px;
  height: 208px;
  border-radius: 8px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-top: 8px;
  width: 137px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #686868;
  margin-top: 2px;
}

.rec_card {
  display: flex;
  flex-direction: column;
  width: 137px;
  cursor: pointer;
  flex-wrap: wrap;
}

.card {
  display: flex;
  padding-left: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.rec_tit {
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
}

.rec_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.rec_right {
  width: 847px;
  height: 651px;
  background-color: #1f1f1f;
  border-radius: 30px;
}

.left_ {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(249, 249, 249, 0.2);
  background-color: #262626;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  transition: color 0.4s ease;
  font-size: 20px;
  color: #f9f9f9;
}

.right_ {
  border: 1px solid rgba(249, 249, 249, 0.2);
  background-color: #262626;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #f9f9f9;
}
.right_:disabled {
  color: rgba(249, 249, 249, 0.2);
}
.left_:disabled {
  color: rgba(249, 249, 249, 0.2);
}

.but_div {
  display: flex;
  gap: 8px;
}

.rec {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* Modal css */

.img_div_m {
  width: 153px;
  height: 233px;
  margin-bottom: 16px;
}

.m_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
  margin-top: 6px;
}
.m_author {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
}

.m_totalPages {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  text-align: center;
}

.m_close_div {
  margin-top: 16px;
  margin-left: 440px;
}

.m_close {
  cursor: pointer;
  background: #1f1f1f;
  color: #f9f9f9;
  border: none;
  font-size: 22px;
  transform: border 0.4s ease;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.m_close:hover {
  border: 1px solid rgba(249, 249, 249, 0.2);
}

.des_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin-bottom: 32px;
}
.lib_nav {
  width: 162px;
  height: 46px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  background-color: #1f1f1f;
  transition: background-color 0.4s ease;
  cursor: pointer;
}
.lib_nav:hover {
  background-color: #f9f9f9;
  color: #1f1f1f;
}
