.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal_content {
  position: relative;
  border: 1px solid rgba(104, 104, 104, 0.2);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  width: 500px;
  height: 483px;
  background: #1f1f1f;
}
