.head {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  height: 17px;
  color: #f9f9f9;
}
.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.headerr {
  background: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 32px 16px 32px;
  border-radius: 15px;
  height: 74px;
  padding-left: 16px;
  padding-right: 16px;
}

.logout {
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  padding: 11px 26px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  background-color: #1f1f1f;
  font-weight: 700;
  color: #f9f9f9;
  line-height: 113%;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.logout:hover {
  background-color: #f9f9f9;
  color: #1f1f1f;
}

.nav_div {
  display: flex;
  gap: 40px;
}

.nav_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: -0.02em;
  color: #686868;
  text-decoration: none;
  position: relative;
  padding-bottom: 15px;
}

.active {
  color: #f9f9f9;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #4a90e2;
  border-radius: 3px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #262626;
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
  margin-right: 8px;
  border: 1px solid rgba(249, 249, 249, 0.2);
}

.header_right {
  display: flex;
  align-items: center;
}

.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
  margin-right: 16px;
}
