.diary_ {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 12px;
  width: 273px;
  height: 333px;
  overflow: scroll;
  background: #262626;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}
.diary_::-webkit-scrollbar {
  display: none;
}

.start_read {
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
}

.day_square {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
}
.date_span {
  margin-top: 3px;
  margin-left: 10px;
}

.page_span {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
}

.rec_span {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

.date_page_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.diary_gr {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 28px;
}
.diary_min {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-left: 20px;
  gap: 8px;
}

.diary_per {
  width: 59px;
}
.diary_per_div {
  display: flex;
  gap: 8px;
}

.diary_Del {
  background: #262626;
  border: none;
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.page_span_ {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
}
.page_span__ {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
}

.line {
  position: fixed;
  left: 17.8%;
  width: 3px;
  height: 320px;

  overflow: scroll;
  background: #1f1f1f;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
