.filters {
  border-radius: 30px;
  min-width: 353px;
  height: 651px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1f1f1f;
}

.fil {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-top: 25px;
  margin-left: 14px;
}

.form_input {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  padding-left: 90px;
  padding-right: 53px;
  background: #262626;
  font-size: 14px;
  color: #f9f9f9;
  border: none;
  outline: none;
}
.form_input::placeholder {
  color: #f9f9f9;
}

.form_input:focus {
  background: #262626;
}
.form_input_ {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  padding-left: 100px;
  padding-right: 43px;
  background: #262626;
  font-size: 14px;
  color: #f9f9f9;
  border: none;
  outline: none;
}

.form_input_:focus {
  background: #262626;
}
.form_input_::placeholder {
  color: #f9f9f9;
}

.input_label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #686868;
  font-size: 14px;
  pointer-events: none;
}

.input_group {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rec_form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  background-color: #1f1f1f;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  width: 131px;
  height: 42px;
  transition: background-color 0.4s ease;
  cursor: pointer;
  margin-top: 12px;
}

.form_button:hover {
  background-color: #f9f9f9;
  color: #1f1f1f;
}

.mylib_button {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
  background-color: #262626;
  border: none;
  cursor: pointer;
}
.lib_navigate_div {
  display: flex;
  gap: 189px;
  margin-top: 6px;
  cursor: pointer;
}

.start_h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-right: 84px;
}

.start_p {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  width: 220px;
}

.start_span {
  color: #686868;
  padding-left: 5px;
}

.start_div {
  padding-bottom: 20px;
  width: 313px;
  background: #262626;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.div_ru {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1f1f1f;
  border-radius: 100%;
  background-color: #f9f9f9;
}

.div_ru_text {
  display: flex;
  align-items: center;
  gap: 12px;
}
.books {
  width: 40px;
  height: 40px;
}

.books_div {
  display: flex;
  align-items: center;
  gap: 14px;
  background: #262626;
  border-radius: 12px;
  justify-content: center;
  width: 313px;
}

.b_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
}

.b_span {
  color: #f9f9f9;
}

@media (max-width: 1439px) {
  .filters {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 29px;
    max-width: 704px;
    height: 336px;
  }

  .books_div {
    display: none;
  }
}

@media (max-width: 767px) {
  .filters {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 335px;
    height: 478px;
  }
}
